html {
    font-family: 'Epilogue', sans-serif;
}

:root {
  --text-dark: #131614;
  --text-light: #FFFFFF;
  --text-light-accent: #D68C45;
  --text-accent: #2C6D49;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
    margin: 0;
    text-decoration: none;
    color: var(--text-dark);
}

.container {
  position: relative;;
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}

input,
select {
    all: unset;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

body.lock {
    overflow: hidden;
}

@media (min-width: 390px) {
    html {
        font-size: 10px;
    }

    body.lock {
        overflow: hidden;
    }

    .container {
        width: 358px;
    }

    /* Sticky Header */

    header {
        width: 100%;
        height: 7.3rem;
        background-color: #F4F8F6;
    }

    header .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        color: var(--text-accent);
        font-size: 1.8rem;
    }

    header h1 span {
        color: #6B9980;
        font-weight: 400;
        font-style: italic;
        font-size: 1.4rem;
    }

         /* Fixed navbar */
     .navbar-shade {
        width: 100%;
        height: 8.2rem;
        position: fixed;
        bottom: 0%;
        z-index: 1000;
        background: linear-gradient(
        to bottom,
            rgba(0, 0, 0, 0) 65%,
            rgba(0, 0, 0, 0.2) 100%
        );
     }

     .navbar {
        width: 100%;
        height: 6.6rem;
        border-radius: 3.3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
     }

    .navbar a {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        transition: 0.3s ease;
        color: #2C6D49;
    }

    .navbar a svg path {
        fill: #2C6D49;
    }

    .navbar a.active {
        background-color: #2C6D49;
        color: #FFFFFF;
    }

    .navbar a.active svg path {
        fill: #FFFFFF;
    }

    /* Hero Section */

    .hero {
        width: 100%;
        height: fit-content;
        background-color: #2C6E49;
    }

    .hero .container {
        margin-bottom: 4.8rem;
    }
    .hero .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero .wrapper .text-wrapper svg {
        padding: 4.8rem 0 1.4rem 0;
    }

    .hero .wrapper .text-wrapper svg path {
        fill: #FFFFFF;
    }

     .hero .wrapper .text-wrapper {
        width: 35rem;
     }

     .hero .wrapper .text-wrapper h1 {
        font-size: 3.6rem;
        color: var(--text-light);
        line-height: 3.9rem;
        padding: 1.2rem 0 1.2rem 0;
     }

    .hero .wrapper .text-wrapper p {
        font-size: 1.8rem;
        color: rgba(250, 250, 250, 0.8);
        line-height: 2.4rem;
        padding-bottom: 3.2rem;
     }

     .hero a {
        display: block;
        width: 16.2rem;
        height: 4.8rem;
        background-color: var(--text-accent);
        border-radius: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6.4rem 0;
     }

     .hero a span {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--text-light);
     }

         /* Contact */

    .contact {
        background-color: #FEFEF6;
        padding-bottom: 6.4rem;
    }

    .hero .container {
        border: rgba(250, 250, 250, 0.1) 1px solid;
        background-color: rgba(250, 250, 250, 0.1);
        border-radius: 2.4rem;
    }

    .contact-wrapper {
        padding: 3.2rem;
    }

    .contact-wrapper form div {
        display: flex;
        flex-direction: column;
     }

    .contact-wrapper form div * {
        width: 100%;
     }
    
    .contact-wrapper form div label {
        width: 100%;
        font-weight: 700;
        font-size: 1.2rem;
        color: #80A792;
        padding-bottom: 0.6rem;
     }

     .contact-wrapper form div label svg {
        padding-left: 0.8rem;
        width: 1rem;
        height: 1rem;
     }

    .contact-wrapper form div input,
    .contact-wrapper form div select {
        height: 5.6rem;
        border: none;
        padding: 2.2rem 2rem 1.8rem 2rem;
        box-sizing: border-box;
        border-radius: 1.2rem;
        margin-bottom: 1.6rem;
        background-color: #ffffff;
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--text-dark);
     } 

     .contact-wrapper form div input::placeholder {
        font-size: 1.6rem;
     }

     .contact-wrapper form div input:focus::placeholder {
        color: transparent;
    }

    .contact-wrapper form div select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 2rem;
     } 

     .select-wrapper {
        position: relative;
    }

    .select-wrapper::after {
        content: '';
        width: 2rem;
        height: 1rem;
        position: absolute;
        right: 2rem;
        top: 44%;
        transform: translateY(-50%);
        pointer-events: none;
        background-image: url('assets/images/Vector.svg');
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
    }

    .contact-wrapper button {
        width: 100%;
        height: 5.6rem;
        border: none;
        background-color: #D68C45;
        font-weight: 700;
        font-size: 1.8rem;
        color: #ffffff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero .wrapper p.or {
        font-size: 1.8rem;
        color: rgba(250, 250, 250, 0.8);
        line-height: 2.4rem;
        text-align: center;
        margin: 1rem 0;
     }

     .contact-wrapper button svg {
        padding-top: 0.4rem;
        width: 4rem;
        height: 4rem;
     }

     /* Brief */

    .brief {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.8s ease, opacity 2s ease;
        opacity: 0;
    }

    .brief.open {
        max-height: 1500px; /* має бути більше ніж реальна висота контенту */
        opacity: 1;
    }

    .arrow {
        transition: transform 0.3s ease;
    }

    .brief-toggle.open .arrow {
        transform: rotate(180deg);
    }

    .brief .section-title p {
        font-size: 1.8rem;
        color: rgba(250, 250, 250, 0.8);
    }

    .brief .section-title p span {
        font-weight: 700;
        color: #D68C45;
    }

    .brief label {
        position: relative;
    }

    .brief label .tooltip-text {
        visibility: hidden;
        opacity: 0;
        width: 75%;
        background-color: #2C6E49;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        z-index: 10;
        bottom: 150%;
        left: 60%;
        transform: translateX(-50%);
        transition: opacity 0.3s, visibility 0.3s;
        pointer-events: none;
    }

    .brief label .tooltip-text p {
        font-size: 13px;
        color: #fff;
    }

    .brief label .tooltip-text.is-active{
            visibility: visible;
            opacity: 0.9;
        }

    .brief .contact-data {
        padding-top: 1.4rem;
        margin-top: 1.4rem;
        position: relative;
    }

    .brief .contact-data::before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 100%;
        background-color: rgba(250, 250, 250, 0.8);
    }

      /* About Us Section */

     .section-title {
        margin: 4.8rem 0 3.2rem 0;
     }

    .section-title h2:first-of-type {
        color: var(--text-light-accent);
        font-size: 1.2rem;
     }

    .section-title h2:last-of-type {
        font-size: 3rem;
     }

    .brief .section-title h2 {
        color: #FFFFFF;
    }

     .about-us-img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: contain;
        border-radius: 16px;
     }

     .about-us .about-us-text > p {
        color: #5A5C5B;
        font-size: 1.8rem;
        margin: 4.4rem 0 2.4rem 0;
     }

    .advantages .img-wrapper {
        width: 4rem;
        height: 4rem;
        border-radius: 0.8rem;
        background-color: #EAF0ED;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.6rem;
    }

    .advantages {
        width: 93%;
        margin-bottom: 4.8rem;
    }

    .advantages .adv {
        display: flex;
        justify-content: start;
        margin-bottom: 1.6rem;
     }

    .advantages .adv h2 {
        font-size: 1.6rem;
     }

    .advantages .adv p {
        font-size: 1.4rem;
        color: #5A5C5B;
     }

     /* Portfolio */

    .portfolio {
        background-color: #F4F8F6;
        width: 100%;
        overflow: hidden;
        padding-bottom: 64px;
    } 

    .portfolio-list {
        padding: 0;
    }

    .portfolio-single a {
        display: block;
        background-color: #FFFFFF;
        border-radius: 16px;
        overflow: hidden;
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-swiper img {
        width: 100%;
        aspect-ratio: 1.3 / 1;
        object-fit: cover;
    }

    .portfolio-text {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-text h2 {
        font-size: 1.8rem;
        margin-bottom: 28px;
    }

    .portfolio-text p {
        font-size: 1.4rem;
        color: #717372;
        margin-bottom: 16px;
    }

    .portfolio-text button {
        display: block;
        width: 100%;
        height: 4.6rem;
        background-color: #ffffff;
        border-radius: 12px;
        border: 1px solid #D5E2DB;
        font-weight: 700;
        font-size: 1.4rem;
        color: #2C6D49;
    }

    /* Youtube */
    .youtube {
        padding-bottom: 64px;
        background-color: #FEFEF6;
    }

    .block {
        width: 100%;
        height: fit-content;
        background-color: #18201C;
        border-radius: 32px;
    }

    .youtube .section-title {
        padding: 32px 32px 0 32px;
        margin-bottom: 0;
    }

    .youtube .section-title h2:first-of-type {
        color: #FFC9B9;
     }

    .youtube .section-title h2:last-of-type {
        color: #FFFFFF;
        padding-bottom: 25px;
     }

    .youtube .section-title p {
        font-size: 1.4rem;
        color: #FFFFFF;
    }

    .youtube .video {
        display: block;
        position: relative;
        aspect-ratio: 2/1;
        padding: 32px;
    }

    .youtube .video .shade {
        position: relative;
        width: 100%;
        aspect-ratio: 2 / 1;
        overflow: hidden;
        border-radius: 12px;
        z-index: 1;
    }

    .youtube .video .shade img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .youtube .video .shade::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;
    }

    .youtube .video .play-circle {
        position: absolute;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        background-color: #FFC9B9;
        top: 37%;
        left: 41%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .youtube .video .play-circle img {
        width: 44px;
        height: 44px;
    }

    /* Reviews */
    .reviews {
        background-color: #FEFEF6;
        padding-bottom: 4.5rem;
    }

    .reviews .section-title {
        text-align: center;
    }

    .reviews .section-title h2:last-of-type {
        font-size: 24px;
    }

    .reviews .review {
        width: 100%;
        height: fit-content;
        display: flex;
        background-color: #FFFFFF;
        border: 1px solid #F4F8F6;
        border-radius: 16px;
        margin-bottom: 1.9rem;
    }

    .reviews .review .review-wrapper {
        padding: 24px 53px 24px 24px;
    }

    .reviews .review .rating {
        width: 100%;
        padding-bottom: 16px;
    }

    .reviews .review .rating img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .reviews .review .text {
        width: 100%;
        font-weight: 400;
        font-style: italic;
        font-size: 1.6rem;
        padding-bottom: 16px;
    }

    .reviews .review .author {
        width: 100%;
        display: flex;
        justify-content: flex-start;

    }

    .reviews .review .author .avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        color: #2C6D49;
        background-color: #D5E2DB;
        text-align: center;
        line-height: 4rem;
        font-weight: 700;
        font-size: 1.6rem;
        margin-right: 1.2rem;
    }

    .reviews .review .author .name {
        font-size: 1.4rem;
    }

    .reviews .review .author .work {
        color: #898A89;
        font-size: 1.2rem;
    }

    /* FAQ */
    .faq {
        padding-bottom: 9.4rem;
        background-color: rgba(255, 201, 185, 0.2);
    }

    .faq .faq-container {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .faq .faq-block {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        border-radius: 1.6rem;
        
        box-sizing: border-box;
        overflow: hidden;
    }

    .faq button {
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        border-radius: 1.6rem;
    }

    .faq button h2 {
        font-size: 1.6rem;
        color: #2C6D49;
    }

    .faq button svg path {
        stroke: #131614;
    }

    .answear {
        overflow: hidden;
        padding: 0 2rem;
        max-height: 0;
        transition: max-height 0.35s ease, opacity 0.25s ease;
        opacity: 0;
    }

    .answear.open {
        opacity: 1;
        padding-bottom: 2rem;
    }

    .answear p {
        font-size: 1.2rem;
        color: #131614;
    }

    .question svg {
        transition: transform 0.3s ease;
    }

    .question.open svg {
        transform: rotate(180deg);
    }



}

@media (min-width: 512px) {
    html {
        font-size: 12px;
    }

    .container {
        width: 470px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .container {
        width: 706px;
    }

    .brief label .tooltip-icon:hover {
        cursor: pointer;
    }

    .brief label .tooltip-icon:hover + .tooltip-text {
        visibility: visible;
        opacity: 0.9;
    } 
}