html {
    font-family: 'Epilogue', sans-serif;
}

:root {
  --text-dark: #131614;
  --text-light: #FFFFFF;
  --text-light-accent: #D68C45;
  --text-accent: #2C6D49;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
    margin: 0;
    text-decoration: none;
    color: var(--text-dark);
}

.container {
  position: relative;;
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}

h1 {
    font-weight: 900;
}

p {
    font-weight: 400;
}

@media (min-width: 390px) {
    html {
        font-size: 10px;
    }

    .container {
        width: 358px;
    }

    /* Sticky Header */

    header {
        width: 100%;
        height: 7.3rem;
        background-color: #F4F8F6;
    }

    header .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        color: var(--text-accent);
        font-size: 1.8rem;
    }

    header h1 span {
        color: #6B9980;
        font-weight: 400;
        font-style: italic;
        font-size: 1.4rem;
    }

    header button {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        background-color: #EAF0ED;
        border: none;
    }

    header button img {
        padding-top: 3px;
    }

    /* Hero Section */

    .hero {
        width: 100%;
        height: 52rem;
        overflow: hidden;
    }

    .hero .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

     .hero .wrapper .text-wrapper {
        width: 35rem;
     }

     .hero .wrapper .text-wrapper h1 {
        font-size: 3.6rem;
        color: var(--text-light);
        line-height: 3.9rem;
        padding: 1.2rem 0 5rem 0;
     }

    .hero .wrapper .text-wrapper p {
        font-size: 1.5rem;
        color: var(--text-light);
        line-height: 2.4rem;
     }

     .hero a {
        display: block;
        width: 16.2rem;
        height: 4.8rem;
        background-color: var(--text-accent);
        border-radius: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6.4rem 0;
     }

     .hero a span {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--text-light);
     }
}