html {
    font-family: 'Epilogue', sans-serif;
}

:root {
  --text-dark: #131614;
  --text-light: #FFFFFF;
  --text-light-accent: #D68C45;
  --text-accent: #2C6D49;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
    margin: 0;
    text-decoration: none;
    color: var(--text-dark);
}

.container {
  position: relative;;
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

body.lock {
    overflow: hidden;
}

@media (min-width: 390px) {
    html {
        font-size: 10px;
    }

    body.lock {
        overflow: hidden;
    }

    .container {
        width: 358px;
    }

    /* Sticky Header */

    header {
        width: 100%;
        height: 7.3rem;
        background-color: #F4F8F6;
    }

    header .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        color: var(--text-accent);
        font-size: 1.8rem;
    }

    header h1 span {
        color: #6B9980;
        font-weight: 400;
        font-style: italic;
        font-size: 1.4rem;
    }

    /* Burger Menu */
    header .button-wrapper {
        position: fixed;
        right: 4%;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        background-color: #EAF0ED;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
    }

    .burger {
        padding: 0;
        width: 18px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: 0;
        cursor: pointer;
    }

    .burger span {
        height: 2.4px;
        background: #2C6D49;
        transition: transform 0.3s ease, opacity 0.2s ease;
    }

    .burger.active span:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 999;
     }

    .overlay.show {
        opacity: 1;
        pointer-events: auto;
    }

       /* Mobile Menu  */
    .mobile-menu {
        border: 1px solid rgba(0,0,0,0.5);
        padding: 60px 30px;
        width: fit-content;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        background: #FEFEF6;
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    .mobile-menu.open {
        transform: translateX(-100%);
    }

    .mobile-menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-bottom: 30px;
        gap: 10px;
    }

    .mobile-menu ul li a{
        font-weight: 700;
        font-size: 1.4rem;
        color: #2C6D49;
    }

    .mobile-menu .social{ 
        display: flex;
        gap: 5px;
        margin-bottom: 1rem;
    }

    .mobile-menu .social * {
        font-weight: 400;
        font-size: 1rem;
        color: #80A792;
    }

    .mobile-menu .all-rights {
        font-size: 0.8rem;
        text-align: center;
        color: #A1A2A1;
    }

    /* Hero Section */

    .hero {
        width: 100%;
        height: 52rem;
        overflow: hidden;
    }

    .hero .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

     .hero .wrapper .text-wrapper {
        width: 35rem;
     }

     .hero .wrapper .text-wrapper h1 {
        font-size: 3.6rem;
        color: var(--text-light);
        line-height: 3.9rem;
        padding: 1.2rem 0 5rem 0;
     }

    .hero .wrapper .text-wrapper p {
        font-size: 1.5rem;
        color: var(--text-light);
        line-height: 2.4rem;
     }

     .hero a {
        display: block;
        width: 16.2rem;
        height: 4.8rem;
        background-color: var(--text-accent);
        border-radius: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6.4rem 0;
     }

     .hero a span {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--text-light);
     }

      /* About Us Section */

     .section-title {
        margin: 4.8rem 0 3.2rem 0;
     }

    .section-title h2:first-of-type {
        color: var(--text-light-accent);
        font-size: 1.2rem;
     }

    .section-title h2:last-of-type {
        font-size: 3rem;
     }

     .about-us-img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: contain;
        border-radius: 16px;
     }

     .about-us .about-us-text > p {
        color: #5A5C5B;
        font-size: 1.8rem;
        margin: 4.4rem 0 2.4rem 0;
     }

    .advantages .img-wrapper {
        width: 4rem;
        height: 4rem;
        border-radius: 0.8rem;
        background-color: #EAF0ED;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.6rem;
    }

    .advantages {
        width: 93%;
        margin-bottom: 4.8rem;
    }

    .advantages .adv {
        display: flex;
        justify-content: start;
        margin-bottom: 1.6rem;
     }

    .advantages .adv h2 {
        font-size: 1.6rem;
     }

    .advantages .adv p {
        font-size: 1.4rem;
        color: #5A5C5B;
     }

     /* Portfolio */

    .portfolio {
        background-color: #F4F8F6;
        width: 100%;
        overflow: hidden;
        padding-bottom: 64px;
    } 

    .portfolio-list {
        padding: 0;
    }

    .portfolio-single a {
        display: block;
        background-color: #FFFFFF;
        border-radius: 16px;
        overflow: hidden;
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-swiper img {
        width: 100%;
        aspect-ratio: 1.3 / 1;
        object-fit: cover;
    }

    .portfolio-text {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-text h2 {
        font-size: 1.8rem;
        margin-bottom: 28px;
    }

    .portfolio-text p {
        font-size: 1.4rem;
        color: #717372;
        margin-bottom: 16px;
    }

    .portfolio-text button {
        display: block;
        width: 100%;
        height: 4.6rem;
        background-color: #ffffff;
        border-radius: 12px;
        border: 1px solid #D5E2DB;
        font-weight: 700;
        font-size: 1.4rem;
        color: #2C6D49;
    }

    /* Youtube */
    .youtube {
        padding-bottom: 64px;
        background-color: #FEFEF6;
    }

    .block {
        width: 100%;
        height: fit-content;
        background-color: #18201C;
        border-radius: 32px;
    }

    .youtube .section-title {
        padding: 32px 32px 0 32px;
        margin-bottom: 0;
    }

    .youtube .section-title h2:first-of-type {
        color: #FFC9B9;
     }

    .youtube .section-title h2:last-of-type {
        color: #FFFFFF;
        padding-bottom: 25px;
     }

    .youtube .section-title p {
        font-size: 1.4rem;
        color: #FFFFFF;
    }

    .youtube .video {
        display: block;
        position: relative;
        aspect-ratio: 2/1;
        padding: 32px;
    }

    .youtube .video .shade {
        position: relative;
        width: 100%;
        aspect-ratio: 2 / 1;
        overflow: hidden;
        border-radius: 12px;
        z-index: 1;
    }

    .youtube .video .shade img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .youtube .video .shade::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;
    }

    .youtube .video .play-circle {
        position: absolute;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        background-color: #FFC9B9;
        top: 37%;
        left: 41%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .youtube .video .play-circle img {
        width: 44px;
        height: 44px;
    }

    /* Reviews */
    .reviews {
        background-color: #FEFEF6;
        padding-bottom: 4.5rem;
    }

    .reviews .section-title {
        text-align: center;
    }

    .reviews .section-title h2:last-of-type {
        font-size: 24px;
    }

    .reviews .review {
        width: 100%;
        height: fit-content;
        display: flex;
        background-color: #FFFFFF;
        border: 1px solid #F4F8F6;
        border-radius: 16px;
        margin-bottom: 1.9rem;
    }

    .reviews .review .review-wrapper {
        padding: 24px 53px 24px 24px;
    }

    .reviews .review .rating {
        width: 100%;
        padding-bottom: 16px;
    }

    .reviews .review .rating img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .reviews .review .text {
        width: 100%;
        font-weight: 400;
        font-style: italic;
        font-size: 1.6rem;
        padding-bottom: 16px;
    }

    .reviews .review .author {
        width: 100%;
        display: flex;
        justify-content: flex-start;

    }

    .reviews .review .author .avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        color: #2C6D49;
        background-color: #D5E2DB;
        text-align: center;
        line-height: 4rem;
        font-weight: 700;
        font-size: 1.6rem;
        margin-right: 1.2rem;
    }

    .reviews .review .author .name {
        font-size: 1.4rem;
    }

    .reviews .review .author .work {
        color: #898A89;
        font-size: 1.2rem;
    }

    /* Contact */

    .contact {
        background-color: #FEFEF6;
        padding-bottom: 6.4rem;
    }

    .contact .container {
        background-color: #FFEFEA;
        border-radius: 40px;
    }

    .contact .contact-wrapper {
        padding: 3.2rem;
    }

    .contact .contact-wrapper .contact-title h1 {
        font-size: 3rem;
        color: #2C6D49;
        text-align: center;
        padding-bottom: 1.6rem;
        line-height: 100%
    }

     .contact .contact-wrapper .contact-title p {
        font-size: 1.6rem;
        color: #717372;
        text-align: center;
        padding-bottom: 3.2rem;
     }

     .contact .contact-wrapper form div {
        display: flex;
        flex-direction: column;
     }

     .contact .contact-wrapper form div * {
        width: 100%;
     }
    
     .contact .contact-wrapper form div label {
        font-weight: 700;
        font-size: 1.2rem;
        color: #80A792;
        padding-bottom: 0.6rem;
     }

     .contact .contact-wrapper form div input {
        border: none;
        height: 5.5rem;
        border-radius: 12px;
        margin-bottom: 32px;
     } 

    .contact .contact-wrapper form div input::placeholder {
        padding-left: 20px;
     }

    .contact .contact-wrapper form button {
        width: 100%;
        height: 5.6rem;
        border: none;
        background-color: #2C6D49;
        font-weight: 700;
        font-size: 1.8rem;
        color: #ffffff;
        border-radius: 12px;
        margin-bottom: 6.6rem;
    }

    .contact .contact-wrapper .social {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1.6rem;
    }

    .contact .contact-wrapper .social * {
        font-weight: 400;
        font-size: 1.6rem;
        color: #80A792;
    }

    .contact .contact-wrapper .all-rights {
        font-size: 1rem;
        text-align: center;
        color: #A1A2A1;
    }

    .mail {
        position: fixed;
        bottom: 6%;
        right: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.6rem;
        height: 5.6rem;
        background-color: #D68C45;
        border-radius: 2.8rem;
        z-index: 1002;
        animation: jump 2.8s ease infinite;
    }

    .mail img {
        width: 2.4rem;
        height: 2.4rem;
    }

    @keyframes jump {
        0% { transform: translateY(0); }
        10% { transform: translateY(-14px); }
        20% { transform: translateY(0); }
        30% { transform: translateY(-8px); }
        40% { transform: translateY(0); }
        100% { transform: translateY(0); }
    }

     /* Fixed navbar */
     .navbar-shade {
        width: 100%;
        height: 8.2rem;
        position: fixed;
        bottom: 0%;
        z-index: 1000;
        background: linear-gradient(
        to bottom,
            rgba(0, 0, 0, 0) 65%,
            rgba(0, 0, 0, 0.2) 100%
        );
     }

     .navbar {
        width: 100%;
        height: 6.6rem;
        border-radius: 3.3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
     }

    .navbar a {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        transition: 0.3s ease;
        color: #2C6D49;
    }

    .navbar a svg path {
        fill: #2C6D49;
    }

    .navbar a.active {
        background-color: #2C6D49;
        color: #FFFFFF;
    }
    .navbar a.active svg path {
        fill: #FFFFFF;
    }
}

@media (min-width: 512px) {
    html {
        font-size: 12px;
    }

    .container {
        width: 470px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .container {
        width: 706px;
    }
}